<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Earthquake Map">
  <title>{% block title %}Earthquake Map{% endblock %}</title>
  <script src="http://www.google.com/jsapi"></script>
  <script>
    google.load("visualization", "1", {packages:["map"]});
    google.setOnLoadCallback(drawMap);
    function drawMap() {
      var data = new google.visualization.arrayToDataTable([
        ['Lat', 'Lon', 'Details'],
        {%- for lat, lon, mag, place in data %}
        [{{ lat }}, {{ lon }}, "M{{ mag }}: {{ place }}"],
        {%- endfor %}
      ]);
      var map = new google.visualization.Map(document.getElementById('map'));
      map.draw(data, {showTip: true});
    }
  </script>
</head>
<body>
  {% block beforemap %}{% endblock %}
  <div id="map" style="width:800px; height:500px"></div>
  {% block aftermap %}{% endblock %}
</body>
</html>
